<div class="container">
  <div class="col-md-12 py-2" id=footer>
    <div class="mb-5 text-center">
      <ul>
        <!-- Facebook -->
        <a href="https://www.facebook.com/"target="_blank">
        <i class="fab fa-facebook-f fa-lg white-text mr-md-4 mr-2 fa-2x"> </i>
        </a>
        <!-- Twitter -->
        <a href="https://www.twitter.com/"target="_blank">
        <i class="fab fa-twitter fa-lg white-text mr-md-4 mr-2 fa-2x"> </i>
        </a>

        <!--Instagram-->
        <a href="https://www.instagram.com/"target="_blank">
        <i class="fab fa-instagram fa-lg white-text mr-md-4 mr-2 fa-2x"></i>
        </a>
      </ul>
    </div>
  </div>
</div>
