<div id='home-banner'>
    <%= image_tag('joli.jpg')%>
  <p style="text-shadow: 3px 3px 3px black"> Start Selling Sounds</p>
</div>
<%= mp3_player("http://github.com/sekrett/mp3_player/raw/master/test.mp3") %>

