
<<<<<<< HEAD
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dofat3r9t/image/upload/v1581019770/marcela-laskoski-YrtFlrLo2DQ-unsplash_qmesnj.jpg);">
  <div class="container">
    <h1>We can <strong>collaborate</strong> if <strong>you feel like it!</strong>!</h1>
    <p> Add a sound</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>




=======
<p>Hmmmm Yeaabbah</p>
>>>>>>> fa26661629fc444df302a191578c9e5681cc0cfc
