
#sounds-show {
  p {
    color: #36a3eb;
  }
}

/* #new_auction {
  margin: 0 55vw;
}


 */

.width-250 {
  width: 250px;
}

#submit-bid {
  /* height: 50px; */
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: #d34836;
  transition: background 0.3s ease;
  border: #d34836;
}

#submit-buy {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: #d34836;
  transition: background 0.3s ease;
  border: #d34836;
  text-align: center;
  vertical-align: middle;
}
