.navbar-inner {
    background:transparent;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.nav-white { color: white;
margin-right: 150px;}

.nav-white:hover {
  color: #130236;
  text-decoration: none;
}

.class-name{
  background-color: rgba(0,0,0,.5);
  }
.navbar-inner {
    background-color:transparent;
  }
