#sounds-show
{background-image: linear-gradient(rgba(0, 0, 0, 0.4),
rgba(0, 0, 0, 0.4)), url(/assets/studio-d9daf179c2b2d3f8027e6351e13796154cda762750e79f226bf3997c9fda4df8.jpg);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}

.show-container{
  background-color: black;
  opacity:85%;
  padding: 20px;
  border-radius: 8px;
}

.main-container{
  height:calc(70vh - 70px);
}

.color-black {
  color: white;
}

.padding-20 {
  padding: 20px;
}

p {
  text-align: center;
  font-size: 60px;
}

body{
    text-align: center;
    background: #00ECB9;
  font-family: sans-serif;
  font-weight: 100;
}
h1{
  color: #396;
  font-weight: 100;
  font-size: 30px;
  margin: 40px 0px 20px;
  font-family: Georgia, serif;
}
 #clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 22px;
}
#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: black;
    display: inline-block;
}
#clockdiv div > span{
    padding: 15px;
    border-radius: 45px;
    background: #00816A;
    display: inline-block;
}


