.duv {
  display: flex;
  align-items: center;
  justify-content: center;

}

h3 {
  padding-top: 25px;
  padding-bottom: 15px;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: bold;

}
