.duv {
  display: flex;
  align-items: center;
  justify-content: center;

}

h3 {
  padding-top: 25px;
  padding-bottom: 15px;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: bold;

}

#BTNsubmit {
 color: #fff;
 width: 90px;
 height: 60px;
 margin: 0;
 padding: 0;

}

 table {
    border-width: 3px;
    background-color: #52E396;
}
tr, td {
    padding: 2px;
}

.b9 {
  border-style:inset;

}


