.wavy-card {
  border-radius: 30px;
  padding-top: 15px;
  padding-right: 20px;
  padding-left: 20px;
  // margin-left: 300px;
  // margin-right: 300px;
  margin-bottom: 100px;
  margin-top: 10px;
  // height: 200px;
  // width: 437px;
  overflow: scroll;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bb71f3', endColorstr='#3d4d91', GradientType=1);
  background: #00e7ff2e;
  // background: #bb71f3;
  // background: -moz-linear-gradient(-45deg, #bb71f3 0%, #3d4d91 100%);
  // background: -webkit-linear-gradient(-45deg, #bb71f3 0%, #3d4d91 100%);
  // background: linear-gradient(-40deg, #be8abf 0%, #1C0654 100%);
  position: relative;
  }





.wavy-card h2 {
  font-size: 16px;
  font-weight: bold;
}



.controls {
  display: flex;
  justify-content: space-between;

}


.card-desc {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
}



.card-desc > img {
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.card-desc h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: white;
}

.card-desc p {
  padding-left: 15px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  margin: 0;
  color: white;
}

.card-desc .card-desc-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-desc-infos .card-desc-user {
  overflow:scroll;
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.pricing {
  font-size: 50px !important;

}

#btnench {
  width : 80px;
  height: 45px;
}

#BTNBID {
  width: 118px !important;
  height: 34px !important;
  border-radius:12px 0 12px 0;
  background: #d34836;
  border:none;
  color:#fff;
  font:bold 12px Verdana;
  padding:6px 0 6px 0;


}

a:hover { color: black;}

#player {
  width: 350px;
  margin-top: 6px;}



img { vertical-align: middle;
border-style: none;
object-fit: cover;
}

a {color: white; }




